.projetos-container {
  background-color: #000;
  width: 100%;
  padding: 4rem 1rem;
}
.projetos-container h2 {
  justify-content: center;
  font-size: 3rem;
  color: #fff;
  display: flex;
}
.projetos {
  display: flex;
  justify-content: center;
  gap: 3rem;
  position: relative;
}
.projetos li {
  list-style: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: white;
  padding: 3rem 1rem;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 5rem;
}
.projetos p {
  text-align: center;
  margin-top: 6rem;
  font-size: 1.2rem;
}
.projetos a {
  text-decoration: none;
  background-color: gray;
  color: #000;
  border-radius: 8px;
  padding: 1rem;
}


.dif a::before {
  content: "";
  position: absolute;
  background: linear-gradient(red, darkred);
  width: 6.6px;
  height: 35px;
  top: 5rem;
  margin-left: -3.6rem;
}
.projetos a:hover {
  border: solid red;
}
.footer{
  display: block;
  text-align: center;
  background-color: grey;
  padding: 4rem;
}
.footer h1{
  font-size: 3rem;
}
.footer p{
  background-color:#a6a6a6 ;
  padding: 10px;
  text-align: start;
}
@media(max-width:900px){
  .projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  position: relative;
}
}