.baixo-sect {
  background-color: #141414;
}
.tudo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 2000px;
}
.nome {
  margin-left: 4rem;
}
.exp {
  display: flex;
  gap: 40px;
  margin-right: 30px;
}
.cima {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
}
.dev h1::before {
  content: "";
  background-image: url(/detalhe.svg);
  position: absolute;
  background-size: cover;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 2000px;
}
.lobo {
  max-width: 100vh;
  width: 26rem;
  margin-left: 50px;
  margin-top: 100px;
  display: block;
}
.dev h1 {
  font-size: 4.5rem;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.dev p {
  font-size: 1.5rem;
}
.dev {
  justify-content: center;
  margin-top: 10rem;
}

.experiencia {
  font-size: 9rem;
  line-height: 144px;
  color: #e0e0e0;
  margin-top: 12rem;
  margin-left: 5rem;
}
.explicacao {
  font-size: 1.5rem;
  margin-top: 10rem;
  margin-left: 2rem;
  padding: 2rem 2rem;
}
.craft {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.surfbot {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
}

.brafé {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
}
.hot {
  text-align: end;
  margin-right: 3rem;
}
.bik {
  margin-top: 3rem;
}
.pop {
  background-color: white;
  text-align: end;
}
.lona {
  display: flex;
  gap: 1rem;
  justify-content: end;
  flex-wrap: wrap;
  margin-left: 4rem;
  margin-right: 1rem;
}
.lona p {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
}
.bik h2 {
  margin-top: 1rem;
}
.desenho::before {
  content: "";
  width: 10px;
  height: 40px;
  background: linear-gradient(#b6f829, #67dd0a);
  display: block;
  position: absolute;
  display: flex;
  left: -1.5rem;
}
.desenho {
  position: relative;
}
.baixo {
  padding: 2.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.forma h1 {
  font-size: 144px;
  text-align: center;
}
.ui {
  font-size: 1.5rem;
  justify-content: center;
  margin-top: 7rem;
  color: #a3a3a3;
}
.spn {
  color: #ffffff;
}
.bach {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.segundobach {
  background-color: #090909;
  padding: 2rem;
  margin-top: 2rem;
  text-align: start;
  border-radius: 8px;
  position: relative;
}

.segundobach p {
  color: #a3a3a3;
}
.segundobach h3 {
  color: #ffff;
}
.segundobach h3::before {
  content: "";
  background: linear-gradient(#b6f829, #67dd0a);
  display: block;
  width: 5px;
  height: 20px;
  position: absolute;
  display: flex;
  left: -0.15rem;
}
.intensivos {
  margin-top: 3.5rem;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #8f8f8f;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: auto;
}
.parte {
  color: #ffff;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.horas {
  color: #8f8f8f;
}
.idiomas2 {
  color: #8f8f8f;
}
.Inglês {
  color: #ffff;
}
.nada {
  margin-top: 5rem;
}
.maisbaixo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #000;
}
.text2 {
  color: #cccccc;
  margin-top: 7rem;
  margin-right: 5rem;
  margin-left: 5rem;
  font-size: 1.5rem;
}
.email {
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  font-size: 25px;
  color: #ffff;
}
.link {
  text-decoration: none;
  background-color: blueviolet;
  border-radius: 8px;
  padding: 0.5rem;
}
.link:hover {
  font-size: 1.3rem;
}
.ultimo {
  color: #8f8f8f;
  text-align: center;
}
.caralho {
  margin-top: 2rem;
}
.detalhe {
  margin-top: 5rem;
}
.inicio::before {
  content: url("/detalhe.svg");
  display: block;
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: -1;
  top: -1.8rem;
  margin-left: -1.5rem;
}
.inicio {
  position: relative;
}
@media (max-width: 1100px) {
  .nome {
    text-align: center;
  }
  .exp {
    display: flex;
    justify-content: center;
  }
  .cima {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.3rem;
    margin: 0 auto;
  }
  .xp {
    background-color: #8f8f8f;
    border-radius: 4px;
    padding: 0.8rem;
    margin-left: 1rem;
    justify-content: center;
  }
  .lobo {
    max-width: 100vh;
    width: 20rem;
    margin-left: 50px;
    margin-top: 100px;
    display: block;
    object-fit: cover;
  }
  .dev h1 {
    font-size: 3rem;
  }
  .dev {
    justify-content: center;
    margin-top: 10rem;
    margin-left: 4rem;
    margin-right: 3rem;
  }
  .experiencia {
    font-size: 6rem;
    line-height: 144px;
    color: #e0e0e0;
    margin-top: 12rem;
    margin-left: 5rem;
  }
  .explicacao {
    font-size: 1.3rem;
    margin-top: 10rem;
    margin-left: 2rem;
    padding: 2rem 2rem;
  }
  .craft {
    background-color: #f0f0f0;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 0;
    margin-left: 1rem;
  }
  .inicio::before {
    content: url("/detalhe.svg");
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -1;
    top: -1.8rem;
    margin-left: -1.5rem;
  }
  .forma h1 {
    font-size: 60px;
    text-align: center;
    word-break: break-all;
  }
  .ui {
    font-size: 1.2rem;
    justify-content: start;
    margin-top: 7rem;
    color: #a3a3a3;
overflow-wrap: break-word;
  }
  .spn {
    color: #ffffff;
  }
  .bach {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  .segundobach {
    background-color: #090909;
    padding: 2rem;
    margin-top: 2rem;
    text-align: start;
    border-radius: 8px;
    position: relative;
  }

  .segundobach p {
    color: #a3a3a3;
    font-size: 0.8rem;
  }
  .segundobach h3 {
    color: #ffff;
    font-size: 1rem;
  }
  .segundobach h3::before {
    content: "";
    background: linear-gradient(#b6f829, #67dd0a);
    display: block;
    width: 5px;
    height: 20px;
    position: absolute;
    display: flex;
    left: -0.15rem;
  }

  .baixo {
    width: 100vh;
    margin: 0 auto;
    padding: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .text2 {
    color: #cccccc;
    margin-top: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
    font-size: 1.3rem;
  }
  .email {
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    font-size: 15px;
    color: #ffff;
  }
  .link {
    text-decoration: none;
    background-color: blueviolet;
    border-radius: 8px;
    padding: 0.5rem;
  }
  .link:hover {
    font-size: 1.3rem;
  }
  .parte{
    justify-content: start
  }
  .horas{
    margin-left: 1rem;
  }
}

